<!--templates/registration/register.html-->
{% extends "registration/auth_base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Signup for an account</h4>
        <form method="post" id="userForm" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center flex-nowrap mt-2">
    <button id="cameraBtn" data-toggle="modal" data-target="#modelWindow" class="btn btn-primary" onclick="onCamera()">Open Camera</button>
  </div>

<!-- Modal -->
<div class="modal fade" id="modelWindow" role="dialog">
    <div class="modal-dialog modal-lg vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="offCamera()">&times;</button>
          <!-- <h4 class="modal-title">Heading</h4> -->
        </div>
        <div class="modal-body">
            <video id="video" autoplay></video>
            <button id="snap">Snap Photo</button>
            <canvas id="canvas" height="480px" width="640px"></canvas>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default" onclick="offCamera()">Close</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}